//color palette for main website
$primary-color: #1F2A4E;
$secondary-color: #3D4D7E;
$text-color: #68A9E3;
$title-caption-color: #F1C232;
$link: #FF9800;
$border: #E53935;
$text-small: #FFB6C1;
$green: #8BC34A;

@font-face {
    font-family: Chivo;
    src: url(../fonts/Chivo/Chivo-VariableFont_wght.ttf);
}

@font-face {
    font-family: Dongle;
    src: url(../fonts/Dongle/Dongle-Regular.ttf);
}

@font-face {
    font-family: Darumadrop;
    src: url(../fonts/Darumadrop_One/DarumadropOne-Regular.ttf);
}


$Chivo: 'Chivo', sans-serif;
$Dongle: 'Dongle', sans-serif;
$Daruma: 'Darumadrop', sans-serif;


html,
body {
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
}

header {
    p {
        text-align: center;
    }
}

// Colors of the page
h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: $Daruma;
    color: $title-caption-color;
}

h2 {
    margin-top: 0;
    padding-top: 1rem;
}

h2,
h3,
h4 {
    text-align: center;
    font-family: $Daruma;
    color: $title-caption-color
}

a {
    color: $link;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.75px;
}

a:hover {
    color: $border;
}

section {

    iframe {
        display: block;
        margin: auto;
        padding: 5% 0;
        text-align: center;
        overflow: hidden;
    }

    p {
        padding-bottom: 12px;
    }

    p,
    li {
        margin: 0 20% 0 20%;
    }

    article {
        padding-bottom: 5%;
    }

}



li,
figcaption,
p {
    text-align: left;
    color: white;
    font-family: 'Arial Rounded MT', sans-serif;
    letter-spacing: 0.25px;
}

.flex-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: inherit;


    .flex-paragraph {
        text-align: center;
    }
}


figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
        max-height: 200px;
        object-fit: cover;
    }

    figcaption {
        color: $title-caption-color;
        padding-top: 20px;
    }

    padding: 2% 0;

}

.bordered {
    border: 2px solid $border;
}

.tab-block {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .tab-item {
        width: calc(100%/3);
        padding: 14px 16px;
        border: none;
        float: left;
    }

    .tab-item:hover {
        background-color: $primary-color;
    }
}

.section {
    background-color: $primary-color;
}

.important {
    color: $border;
    text-decoration: underline;
    text-decoration-color: $border;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}

footer {
    font-family: $Chivo;
    text-decoration: none;
    text-align: center;
    color: white;
}



@media only screen and (max-width: 600px) {

    footer {
        display: block;
        margin: auto;
        color: white;
    }


    section {

        iframe {
            width: 23em;
            height: 15em;
            display: block;
            margin: auto;
            padding: 25% 0 10% 0;
            text-align: center;
            overflow: hidden;
        }


        p {
            padding-bottom: 12px;
        }

        p,
        li {
            margin: 0 10% 0 10%;
        }
    }

    figure {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        img {
            max-width: 20em;
            object-fit: cover;
        }
    }
}