//color palette for main website
$primary-color: #1F2A4E;
$secondary-color: #3D4D7E;
$text-color: #68A9E3;
$title-caption-color: #F1C232;
$link: #FF9800;
$border: #E53935;
$text-small: #FFB6C1;
$green: #8BC34A;

@font-face {
    font-family: Chivo;
    src: url(../fonts/Chivo/Chivo-VariableFont_wght.ttf);
}

@font-face {
    font-family: Dongle;
    src: url(../fonts/Dongle/Dongle-Regular.ttf);
}

@font-face {
    font-family: Darumadrop;
    src: url(../fonts/Darumadrop_One/DarumadropOne-Regular.ttf);
}


$Chivo: 'Chivo', sans-serif;
$Dongle: 'Dongle', sans-serif;
$Daruma: 'Darumadrop', sans-serif;


html,
body {
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
}

// Colors of the page
h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: $Daruma;
    color: $title-caption-color;
}

h2 {
    margin-top: 0;
    padding-top: 1rem;
}

h2,
h3 {
    text-align: center;
    font-family: $Daruma;
    color: $title-caption-color
}

a {
    color: $link;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.75px;
}



li,
figcaption,
p {
    color: $text-color;
    font-family: 'Arial Rounded MT', sans-serif;
    letter-spacing: 0.25px;
}

.flex-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: inherit;
}


figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
        width: 25em;

    }
}

.bordered {
    border: 2px solid $border;
}

.tab-block {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .tab-item {
        width: calc(100%/3);
        padding: 14px 16px;
        border: none;
        float: left;
    }

    .tab-item:hover {
        background-color: $primary-color;
    }
}

.section {
    background-color: $primary-color;
}


.hidden {
    display: none;
}

.unhidden {
    display: block;
}


@media only screen and (max-width: 600px) {
    figure {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        img {
            max-width: 20em;

        }
    }
}