//colors
$gold: #ffdfa8;
$brown: #721e1e;
$red: #be2528;
$blue: #2c475a;
$white: #fafafa;
$off-white: #e8eaed;

body {
  background-color: $off-white;
  margin: 0;
}
header {
  color: $gold;
  background-color: $red;
  display: flex;

  padding: 2rem 0;

  ul {
    list-style-type: none;
    display: flex;
  }
}

#home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  .circle {
    margin: 2rem 0;
    border-radius: 50%;
    border: 3px solid black;
    width: 12rem;
    flex-shrink: 0;
    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  h1 {
    margin: 2rem 0;
  }

  .links {
    margin: 2rem 0;
  }
}

.gold-box {
  padding: 1.1875rem 1.875rem 1.125rem 0.5rem;
  border: 1px solid #ffdfa8;
}

#project-list {
  text-align: center;
  align-items: center;

  .project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto 2em auto;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    .card-title {
      width: 50%;
    }
    .card-image {
      border: 2px solid #fff;
      background: #707070;
      width: 50%;
      img {
        max-width: 100%;
      }
    }

    .card-description {
      width: 50%;
    }
  }
}

footer {
  background-color: $red;
  color: $gold;
  padding: 4rem 0;
}

.blue-back {
  background-color: $blue;
  color: $off-white;
}

.svg-box {
  width: 3rem;
  height: 3rem;
  margin: 1rem 1rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  #home-intro {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding: 0;
    .circle {
      margin: 2rem;
    }

    h1 {
      margin: 2rem;
    }

    .flex-reverse {
      width: 50%;
    }

    .row {
      flex-direction: column;
    }
  }
  .flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  project-container {
    column-count: 2;
  }
}
