body {
	background-image: url("../images/myGalagaBackground.gif");
}

.titleHeader {
    color:lime;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:chocolate;
}