/* custom fonts */
/* font-family: 'PF Westa Seven', sans-serif; */
/* font-family: 'PF Westa Seven Condensed', sans-serif; */

/* font-family: 'Pixel12x10', sans-serif; */
/* font-family: 'Pixel12x10Mono', sans-serif; */

/* font-family: 'Earthbound', sans-serif; */



/* For larger screens */

/* start of hello snippet */

.big-text {
    font-family: 'Earthbound', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 2rem;
}

.small-text {
    font-family: 'Earthbound', sans-serif;
    font-style: normal;
    font-size: 2rem;
}

.my-name {
    font-size: 3rem;
    color: tomato;
}

/* end of hello snippet */

/* start of card styling */
/* end of card styling */


/* For smaller screens */
@media screen and (max-width: 480px) {}