body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    border: 0;
}

section {
    margin: 0;
    padding: 0;
    border: 0;
}

header {}

.navContainer a {
    color: green;
}

.navContainer .active:visited {
    color: green;
}

.navContainer a:hover a::before {
    color: blue;
    content: '☞';
}

.navContainer .active:hover {
    content: '☞';
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 1em;
}

.navContainer .links a {
    border: thick double lightskyblue;
    padding: 10px;
    margin: 0px 1em;
}

#this-is-me {
    background-color: lightyellow;
}

#projects-snippet {
    background-color: lightsalmon;
}

#aboutme-snippet {
    background-color: lightseagreen;
}

#contact-snippet {
    background-color: lightgreen;
}