body {
  background-image: url("../images/myGalagaBackground.gif");
  background-color: aliceblue;
  color: limegreen;
}

.titleHeader {
  color: lime;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.navContainer {
  color: aliceblue;
  background-color: black;
  width: 80%;
  height: 20%;
  border-radius: 10px;
  /* This auto will make it center. You just need a width first */
  margin: 0 auto;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: green;
}

.languagesTable {
  margin: 0 auto;
}

table {
  font-size: 15px;
  margin: 20px auto;
}

table h3 {
  flex-basis: 2px;
  padding: 5px;
  text-align: left;
  margin-left: 20px;
}

table h2 {
  padding: 5px;
}

.langFoot td {
  border: 2px solid coral;
}

th {
  /* border: 2px solid #8c6b48; */
  /* border: 10px inset rgb(132, 546, 324); */
  border: 2px solid gold;
}

td {
  border: 2px solid gold;
  width: 300rem;
}

.langTableContainer {
  max-width: 800px;
  margin: 0 auto;
  height: 660px;
  color: green;
  background-color: black;
}

/* Includes the entire sheet sections */
.sheet {
  text-align: center;
}

/* Everything that is inside the section information */
.sheet .sheetBody {
  margin: auto;
  padding: 5px 10px 20x;
  border: 1px solid purple;
  background-color: aliceblue;
  text-align: justify;
}

/* Only includes the p element within the sheets bodies */
.sheet .sheetBody p {
  font-size: small;
  font-style: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#cssSection {
  color: blueviolet;
}

#htmlSection {
  color: violet;
}

#javascriptSection {
  color: darkviolet;
}

.guyFigure {
  border: 2px coral solid;
  position: absolute;
  display: flex;
  flex-flow: column;
  max-width: 100px;
  margin: auto;
}

.guyFigure img {
  max-width: 100px;
  max-height: 90px;
  z-index: 1;
}

.guyFigure figcaption {
  background-color: grey;
  color: white;
  /* font-style: italic;
  font-size: smaller;
  font-family: sans-serif; 
  or you can just right font*/
  font: italic smaller sans-serif;
  text-align: center;
  padding: 1px;
}
