/* body {
  background-color: lightsteelblue;
}
header {
  color: darkblue;
  text-align: center;
}
/* The layers of a box go like 
    1. Margin = clears an area outside the border, it's transparent
    2. Border = goes around the padding and content
    3. Padding = clears an area around the contnet, it's transparent
    4. Content = the content


/* Index navigation links 
.lecture-container ol {
  list-style-type: none;
  margin: auto;
  padding: 0%;
  background-color: lavender;
  /* overflow:hidden is added to the ul element to prevent li elements from going outside of the list. 
  overflow: hidden;
}

.lecture-container li {
  float: left;
}

.lecture-container li a {
  display: block;
  padding: 8px 10px;
}

/* Table of contents stuff 
.table-of-contents ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: lavender;
  overflow: hidden;
}
.table-of-contents li {
  width: max-content;
  float: left;
}
.table-of-contents li a {
  display: block;
  padding: 8px 10px;
}

h1 {
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* For generic use with future lecture notes 
.lectured {
  width: fit-content;
  align-self: center;
  margin: 1rem auto;
  padding: 5%;
  border: 0.5rem solid snow;
  background-color: bisque;
}
.lectured h3 {
  color: darkred;
  text-align: center;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px aqua;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.lectured ul {
  list-style-type: square;
}
.lectured ul li {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  height: 1.75rem;
} */
